<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <scheduling>
      <agent type="Sitecore.Tasks.PublishAgent"
             set:type="Elision.Publishing.PublishAgentWithImpersonation, Elision.Publishing">
        <param desc="username (to impersonate when publishing, including domain)"></param>
      </agent>
    </scheduling>

    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache"
                 set:ref="Elision.Publishing.PublishOptimizedHtmlCacheClearer, Elision.Publishing"
                 set:factory="ElisionObjectFactory">
          <sites hint="list" set:help="If sites list is ommitted, then all sites registered in sitecore will be considered. Otherwise, only those sites listed will be considered for cache clearing."/>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache"
                 set:ref="Elision.Publishing.PublishOptimizedHtmlCacheClearer, Elision.Publishing"
                 set:factory="ElisionObjectFactory">
          <sites hint="list" set:help="If sites list is ommitted, then all sites registered in sitecore will be considered. Otherwise, only those sites listed will be considered for cache clearing."/>
        </handler>
      </event>
    </events>

  </sitecore>
</configuration>
