<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <executePageEditorAction>
        <!-- This ReplaceRendering processor runs the global rules -->
        <processor ref="Elision.Foundation.CompatibleRenderings.Pipelines.ExecutePageEditorAction.ReplaceRendering, Elision.Foundation.CompatibleRenderings"
                   factory="ElisionObjectFactory" type="1"
                   patch:instead="*[@type='Sitecore.Pipelines.ExecutePageEditorAction.ReplaceRendering, Sitecore.ExperienceEditor']" />
        <!-- This InsertRendering processor fixes a minor issue where rendering parameters are not copied from the pipeline -->
        <processor ref="Elision.Foundation.CompatibleRenderings.Pipelines.ExecutePageEditorAction.InsertRendering, Elision.Foundation.CompatibleRenderings"
                   factory="ElisionObjectFactory" type="1"
                   patch:instead="*[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']"/>        
      </executePageEditorAction>
      
      <getChromeData>
        <processor ref="Elision.Foundation.CompatibleRenderings.Pipelines.GetChromeData.RunCompatibleRenderingRules, Elision.Foundation.CompatibleRenderings"
                   factory="ElisionObjectFactory" type="1"
                   patch:before="processor[@type='Sitecore.Pipelines.GetChromeData.GetEditFrameChromeData, Sitecore.Kernel']"/>
      </getChromeData>

    </pipelines>
  </sitecore>
</configuration>
