<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--<settings>
      <setting name="Elision.SitemapXmlCacheMaxSize" value="50MB" />
    </settings>
    
    <pipelines>

      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          --><!-- added xml to allowed extensions so that our sitemap.xml processor can handle the request --><!--
          <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, xml</param>
        </processor>
      </preprocessRequest>

      <httpRequestBegin>
        <processor type="Elision.SitemapXml.Pipelines.HttpRequestBegin.SitemapXmlProcessor, Elision.SitemapXml"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>

      <getSitemapXml>
        <processor type="Elision.Sitemap.GenerateSitemapXml.GetCacheKey, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.AbortPipelineIfNoCacheKey, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.ReturnSitemapFromCache, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.GetSitemapRoot, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.GetPageItems, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.BuildSitemapFiles, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.StoreSitemapsCache, Elision.Sitemap" />
        <processor type="Elision.Sitemap.GenerateSitemapXml.ReturnSitemapFromCache, Elision.Sitemap" />
      </getSitemapXml>

    </pipelines>-->
  </sitecore>

  <!--
  Option
  <sitecore>
    <customHandlers>
      <handler trigger="/sitemap.xml" handler="sitemap.xml" type="Elision.Web.Pipelines.HttpRequestBegin.SitemapXmlProcessor, Elision.Web" />
    </customHandlers>
  </sitecore>


  This handler needs to be added to the web.config:
  
  <system.webServer>
    <handlers>
      <add verb="*" path="sitemap.xml" type="Elision.Pipelines.HttpRequestBegin.SitemapXmlProcessor, Elision" name="DEG.SitemapXmlProcessor"/>
    </handlers>
  </system.webServer>-->
</configuration>
