<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>

      <elision.replaceFieldValueTokens>
        <processor type="Elision.Foundation.FieldTokens.Pipelines.ReplaceFieldValueTokens.ReplaceSystemTokens, Elision.Foundation.FieldTokens" />
        <processor type="Elision.Foundation.FieldTokens.Pipelines.ReplaceFieldValueTokens.ReplaceItemTokens, Elision.Foundation.FieldTokens" />
      </elision.replaceFieldValueTokens>

      <renderField>
        <processor type="Elision.Foundation.FieldTokens.Pipelines.RenderField.ReplaceTokens, Elision.Foundation.FieldTokens"
                   patch:after="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']"/>
      </renderField>

    </pipelines>
  </sitecore>
</configuration>
