<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.6.3" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.FakeDb" version="1.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore81Abstractions" version="8.1.0" targetFramework="net45" />
  <package id="Sitecore81Client" version="8.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore81ContentSearch" version="8.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore81Deploy" version="8.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore81Kernel" version="8.1.0" targetFramework="net45" developmentDependency="true" />
</packages>