<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <pipelines>

      <getPlaceholderRenderings>
        <processor type="Elision.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderRenderings.RunPlaceholderSettingsRules, Elision.Foundation.PlaceholderSettings"
                   resolve="true"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']" />
      </getPlaceholderRenderings>

    </pipelines>

  </sitecore>
</configuration>
