<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <factories>
      <!-- This factory can be used to supply dependecy injection to any config-defined type in sitecore -->
      <factory id="ElisionObjectFactory" type="Elision.Foundation.Ioc.ElisionObjectFactory, Elision.Foundation.Ioc"></factory>
    </factories>

    <pipelines>

      <initialize>
        <processor type="Elision.Foundation.Ioc.Mvc.InitializeControllerFactory, Elision.Foundation.Ioc" patch:after="*[last()]"/>
      </initialize>

    </pipelines>
    
  </sitecore>
</configuration>