<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ResolveArea, Sitecore.Mvc">
          <param desc="areaResolver" type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ChainedAreaResolveStrategy, Sitecore.Mvc">
            <Resolvers hint="list">
              <resolver ref="Elision.Foundation.Themes.GetAreaAndNamespaces.GetAreaByTheme, Elision.Foundation.Themes" resolve="true"/>
            </Resolvers>
          </param>
        </processor>
      </mvc.renderRendering>

    </pipelines>
  </sitecore>
</configuration>