<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getSiteResources>
        <processor type="Elision.Foundation.SiteResources.Pipelines.GetSiteResources.GetRawSiteAndPageResources, Elision.Foundation.SiteResources"
                   resolve="true" />
        <processor type="Elision.Foundation.Themes.GetSiteResources.GetThemeResources, Elision.Foundation.Themes"
                   resolve="true" />
      </getSiteResources>
    </pipelines>
  </sitecore>
</configuration>