<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getSiteResources>
        <processor ref="Elision.Foundation.SiteResources.Pipelines.GetSiteResources.GetRawSiteAndPageResources, Elision.Foundation.SiteResources"
                   resolve="true" />
        <processor ref="Elision.Foundation.Themes.GetSiteResources.GetThemeResources, Elision.Foundation.Themes"
                   resolve="true" />
      </getSiteResources>
    </pipelines>
  </sitecore>
</configuration>