<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor type="Elision.Foundation.DynamicPlaceholders.GetAllowedRenderingsSetPlaceholderKey, Elision.Foundation.DynamicPlaceholders"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
        <processor type="Elision.Foundation.DynamicPlaceholders.GetAllowedRenderingsResetPlaceholderKey, Elision.Foundation.DynamicPlaceholders"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetPlaceholderRenderingsDialogUrl, Sitecore.Kernel']"/>
      </getPlaceholderRenderings>
      <getChromeData>
        <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel">
          <patch:attribute name="type">Elision.Foundation.DynamicPlaceholders.GetDynamicKeyPlaceholderChromeData, Elision.Foundation.DynamicPlaceholders</patch:attribute>
        </processor>
      </getChromeData>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="Elision.Foundation.DynamicPlaceholders.FixOrphanedRenderings, Elision.Foundation.DynamicPlaceholders" method="OnItemSaved" />
      </event>
    </events>
  </sitecore>
</configuration>