<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <pipelines>

      <!--<getPlaceholderRenderings>
        <processor type="Elision.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderRenderings.RunPlaceholderSettingsRules, Elision.Foundation.PlaceholderSettings"
                   resolve="true"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.RemoveNonEditableRenderings, Sitecore.Kernel']" />
      </getPlaceholderRenderings>-->

      <!--<getChromeData>
        <processor type="Elision.Foundation.PlaceholderSettings.Pipelines.GetChromeData.GetPlaceholderChromeData, Elision.Foundation.PlaceholderSettings"
                   resolve="true"
                   patch:instead="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"/>
      </getChromeData>-->

    </pipelines>

  </sitecore>
</configuration>
