<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>

          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="urllink">
                <patch:delete />
              </field>
              <field fieldName="urllink"              storageType="yes" indexType="untokenized">Elision.Foundation.Search.ComputedFields.UrlLink, Elision.Foundation.Search</field>
              <field fieldName="_basetemplates"       storageType="no"  indexType="untokenized">Elision.Foundation.Search.ComputedFields.BaseTemplates, Elision.Foundation.Search</field>
              <field fieldName="_haspresentation"     storageType="no"  indexType="untokenized">Elision.Foundation.Search.ComputedFields.HasPresentation, Elision.Foundation.Search</field>
            </fields>
          </documentOptions>

        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>
