<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <contentSearch>

      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_haspresentation" returnType="bool">Elision.Foundation.Search.ComputedFields.HasPresentation, Elision.Foundation.Search</field>
              <field fieldName="urllink" returnType="string">Elision.Foundation.Search.ComputedFields.UrlLink, Elision.Foundation.Search</field>
              <field fieldName="_basetemplates" returnType="stringCollection">Elision.Foundation.Search.ComputedFields.BaseTemplates, Elision.Foundation.Search</field>
            </fields>

          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>

    </contentSearch>            
  </sitecore>
</configuration>