<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="sitecore" type="Sitecore.FakeDb.Configuration.ConfigReader, Sitecore.FakeDb" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
    </configSections>
    <appSettings>
        <add key="xunit.parallelizeTestCollections" value="false" />
    </appSettings>
    <sitecore>
        <settings>
            <setting name="LicenseFile" value="..\..\..\..\sitecore\license.xml" />
        </settings>
        <!-- DATABASE TYPE
         For Sitecore versions prior to 8.2 should be 'Sitecore.Data.Database, Sitecore.Kernel'.
         For Sitecore 8.2 and later should be 'Sitecore.Data.DefaultDatabase, Sitecore.Kernel'. -->
        <sc.variable name="databaseType" value="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" />
      <mvc>
        <areas>
          <!--MVC: Sitecore will by default register all areas in the initialize pipeline.
                  Use the below list to specify areas that should not be registered in the initialize pipeline.-->

          <excludedAreas>
            <area type="Sitecore.Social.Client.Mvc.Areas.Social.SocialAreaRegistration, Sitecore.Social.Client.Mvc" />
          </excludedAreas>
        </areas>

        <configurationAssemblies type="Sitecore.Web.AssembliesScanner.ExcludedAssembliesConfiguration, Sitecore.Web">
          <excludedAssemblies hint="list">

            <!--The Blacklist
            
            This section defines a list of assembly name matches to filter out any assemblies
            that are not required by the IAssembliesResolver. Assembly names that start with a 
            name within the excludedAssemblies will not be returned in the results from
            IAssembleResolver.GetAssemblies()-->


            <excludedAssembly id="Antlr3.Runtime">Antlr3.Runtime</excludedAssembly>
            <excludedAssembly id="CommonServiceLocator">CommonServiceLocator</excludedAssembly>
            <excludedAssembly id="ComponentArt">ComponentArt</excludedAssembly>
            <excludedAssembly id="CsQuery">CsQuery</excludedAssembly>
            <excludedAssembly id="CustomFields">CustomFields</excludedAssembly>
            <excludedAssembly id="DocumentFormat">DocumentFormat</excludedAssembly>
            <excludedAssembly id="DotNetOpenAuth">DotNetOpenAuth</excludedAssembly>
            <excludedAssembly id="EcmaScript.NET">EcmaScript.NET</excludedAssembly>
            <excludedAssembly id="Facebook">Facebook</excludedAssembly>
            <excludedAssembly id="Google.Apis">Google.Apis</excludedAssembly>
            <excludedAssembly id="Hammock.ClientProfile">Hammock.ClientProfile</excludedAssembly>
            <excludedAssembly id="HtmlAgilityPack">HtmlAgilityPack</excludedAssembly>
            <excludedAssembly id="ICSharpCode.SharpZipLib">ICSharpCode.SharpZipLib</excludedAssembly>
            <excludedAssembly id="Iesi.Collections">Iesi.Collections</excludedAssembly>
            <excludedAssembly id="ITHit.WebDAV.">ITHit.WebDAV.</excludedAssembly>
            <excludedAssembly id="LogService">LogService</excludedAssembly>
            <excludedAssembly id="Lucene">Lucene</excludedAssembly>
            <excludedAssembly id="MarkdownSharp">MarkdownSharp</excludedAssembly>
            <excludedAssembly id="Microsoft.">Microsoft.</excludedAssembly>
            <excludedAssembly id="MongoDB.">MongoDB.</excludedAssembly>
            <excludedAssembly id="mscorlib">mscorlib</excludedAssembly>
            <excludedAssembly id="Mvp.Xml">Mvp.Xml</excludedAssembly>
            <excludedAssembly id="Netbiscuits">Netbiscuits</excludedAssembly>
            <excludedAssembly id="Newtonsoft.Json">Newtonsoft.Json</excludedAssembly>
            <excludedAssembly id="Ninject">Ninject</excludedAssembly>
            <excludedAssembly id="OAuthLinkedIn">OAuthLinkedIn</excludedAssembly>
            <excludedAssembly id="Owin">Owin</excludedAssembly>
            <excludedAssembly id="PdfSharp">PdfSharp</excludedAssembly>
            <excludedAssembly id="protobuf-net">protobuf-net</excludedAssembly>
            <excludedAssembly id="RadEditor.Net2">RadEditor.Net2</excludedAssembly>
            <excludedAssembly id="RazorGenerator.Mvc">RazorGenerator.Mvc</excludedAssembly>
            <excludedAssembly id="Rebus">Rebus</excludedAssembly>
            <excludedAssembly id="Remotion.Linq">Remotion.Linq</excludedAssembly>
            <excludedAssembly id="Sitecore.Analytics">Sitecore.Analytics</excludedAssembly>
            <excludedAssembly id="Sitecore.Apps">Sitecore.Apps</excludedAssembly>
            <excludedAssembly id="Sitecore.CES">Sitecore.CES</excludedAssembly>
            <excludedAssembly id="Sitecore.Cloud">Sitecore.Cloud</excludedAssembly>
            <excludedAssembly id="Sitecore.ContentSearch">Sitecore.ContentSearch</excludedAssembly>
            <excludedAssembly id="Sitecore.NVelocity">Sitecore.NVelocity</excludedAssembly>
            <excludedAssembly id="Sitecore.Oracle">Sitecore.Oracle</excludedAssembly>
            <excludedAssembly id="Sitecore.Owin">Sitecore.Owin</excludedAssembly>
            <excludedAssembly id="Sitecore.SegmentBuilder">Sitecore.SegmentBuilder</excludedAssembly>
            <excludedAssembly id="Sitecore.SessionProvider">Sitecore.SessionProvider</excludedAssembly>
            <excludedAssembly id="Sitecore.Update">Sitecore.Update</excludedAssembly>
            <excludedAssembly id="Sitecore.XConnect">Sitecore.XConnect</excludedAssembly>
            <excludedAssembly id="Sitecore.Xdb">Sitecore.Xdb</excludedAssembly>
            <excludedAssembly id="SMDiagnostics">SMDiagnostics</excludedAssembly>
            <excludedAssembly id="SolrNet">SolrNet</excludedAssembly>
            <excludedAssembly id="Stimulsoft">Stimulsoft</excludedAssembly>
            <excludedAssembly id="System.">System.</excludedAssembly>
            <excludedAssembly id="Telerik">Telerik</excludedAssembly>
            <excludedAssembly id="TweetSharp">TweetSharp</excludedAssembly>
            <excludedAssembly id="WebGrease">WebGrease</excludedAssembly>
            <excludedAssembly id="WindowsBase">WindowsBase</excludedAssembly>
            <excludedAssembly id="Yahoo.Yui.Compressor">Yahoo.Yui.Compressor</excludedAssembly>
          </excludedAssemblies>

          <!--The Whitelist-->
          <includedAssemblies hint="list">
            <includedAssembly id="Sitecore.Mvc">Sitecore.Mvc</includedAssembly>
            <includedAssembly id="System.Web.Mvc">System.Web.Mvc</includedAssembly>
          </includedAssemblies>
        </configurationAssemblies>

        <precompilation>
          <!--MVC: Sitecore will load an assemblyIdentity assemblies and use the precompiled 
                 razor views that they contain in MVC view resolution.-->

          <assemblies>
            <assemblyIdentity name="Sitecore.Mvc" />
          </assemblies>
        </precompilation>
      </mvc>
     
    </sitecore>
    <log4net />
    <system.web>
        <membership defaultProvider="fake">
            <providers>
                <clear />
                <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeMembershipProvider, Sitecore.FakeDb" />
            </providers>
        </membership>
        <roleManager defaultProvider="fake" enabled="true">
            <providers>
                <clear />
                <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeRoleProvider, Sitecore.FakeDb" />
            </providers>
        </roleManager>
        <profile defaultProvider="fake" enabled="true" inherits="Sitecore.FakeDb.Profile.FakeUserProfile, Sitecore.FakeDb">
            <providers>
                <clear />
                <add name="fake" type="Sitecore.FakeDb.Security.Web.FakeProfileProvider, Sitecore.FakeDb" />
            </providers>
            <properties>
                <clear />
                <add type="System.String" name="SC_UserData" />
            </properties>
        </profile>
    </system.web>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async.Providers" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>