<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <pipelines>

      <initialize>
        <!-- Enables attribute routing for sitecore renderings and webapi -->
        <processor type="Elision.Mvc.Pipelines.Initialize.InitializeRoutes, Elision.Mvc" patch:instead="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>

      <mvc.renderRendering>
        <!-- adds area resolvers based on the path to a view rendering, or from a rendering folder in sitecore -->
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ResolveArea, Sitecore.Mvc">
          <param desc="areaResolver" type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ChainedAreaResolveStrategy, Sitecore.Mvc">
            <Resolvers hint="list">
              <resolver type="Elision.Mvc.Pipelines.GetAreaAndNamespaces.GetAreaFromViewRenderingPath, Elision.Mvc"/>
              <resolver type="Elision.Mvc.Pipelines.GetAreaAndNamespaces.GetAreaByRenderingFolder, Elision.Mvc"/>
            </Resolvers>
          </param>
        </processor>
        <!-- ensures that proper search namespaces are setup based on the current mvc area -->
        <processor type="Elision.Mvc.Pipelines.GetAreaAndNamespaces.InferNamespacesByArea, Elision.Mvc"
            patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ResolveArea, Sitecore.Mvc']" />
      </mvc.renderRendering>

    </pipelines>

  </sitecore>
</configuration>