<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      
      <event name="item:added">
        <!-- Updates all references in the created tree to no longer point to the bucket items, but instead to point to the newly created copy. -->
        <handler ref="Elision.UpdateReferences.AddFromTemplate, Elision.UpdateReferences" method="OnItemAdded"
                   factory="ElisionObjectFactory" type="1" />
      </event>
      
    </events>

    <processors>
      
      <uiDuplicateItem>
        <processor mode="on" ref="Elision.UpdateReferences.DuplicateItem, Elision.UpdateReferences" method="Execute"
                   factory="ElisionObjectFactory" type="1"
                   patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets' and @method='Execute']" />
      </uiDuplicateItem>

      <uiCopyItems>
        <processor mode="on" ref="Elision.UpdateReferences.CopyOrCloneItem, Elision.UpdateReferences" method="ProcessFieldValues" factory="ElisionObjectFactory" type="1" />
      </uiCopyItems>

      <uiCloneItems>
        <processor mode="on" ref="Elision.UpdateReferences.CopyOrCloneItem, Elision.UpdateReferences" method="ProcessFieldValues" factory="ElisionObjectFactory" type="1" />
      </uiCloneItems>

    </processors>
    
    <settings>
      
      <setting name="ItemCloning.NonInheritedFields">
        <patch:attribute name="value">__Renderings|__Final Renderings</patch:attribute>
      </setting>

      <!-- Even though this functionality has been included in Sitecore 8.1 Update-2 (sorta), it doesn't handle presentation details or cache clearing properly, we we'll use ours instead. -->
      <setting name="ItemCloning.RelinkClonedSubtree">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

    </settings>
  </sitecore>
</configuration>
