<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor ref="Elision.LayoutRenderings.Pipelines.GetRenderingDatasource.RunGetDatasourceLocationRules, Elision.LayoutRenderings"
                   factory="ElisionObjectFactory" type="1"
                   patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
        <processor type="Elision.LayoutRenderings.Pipelines.GetRenderingDatasource.AddDerivedTemplatesForSelection, Elision.LayoutRenderings"
                   patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetTemplatesForSelection, Sitecore.Kernel']"/>
      </getRenderingDatasource>
    </pipelines>
  </sitecore>
</configuration>
