<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <!--<processor type="Elision.DynamicPlaceholders.GetDynamicKeyAllowedRenderings, Elision.DynamicPlaceholders"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>-->
        <processor type="Elision.DynamicPlaceholders.GetAllowedRenderingsSetPlaceholderKey, Elision.DynamicPlaceholders"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
        <processor type="Elision.DynamicPlaceholders.GetAllowedRenderingsResetPlaceholderKey, Elision.DynamicPlaceholders"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetPlaceholderRenderingsDialogUrl, Sitecore.Kernel']"/>
      </getPlaceholderRenderings>
      <getChromeData>
        <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel">
          <patch:attribute name="type">Elision.DynamicPlaceholders.GetDynamicKeyPlaceholderChromeData, Elision.DynamicPlaceholders</patch:attribute>
        </processor>
      </getChromeData>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="Elision.DynamicPlaceholders.FixOrphanedRenderings, Elision.DynamicPlaceholders" method="OnItemSaved" />
      </event>
    </events>
  </sitecore>
</configuration>